body {
    text-align: center;
    font-family: 'Audiowide', cursive;
}
h1 {
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 100px;
    margin: 0 auto;
    width: 100%;
    color: blue;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {color: #7dc4ed;}
    25%  {color: #479949;}
    50%  {color: #b20200;}
    100% {color: #db9202;}
}

ul li {
    line-height: 2;   
}

#targetNumbner {
    margin-top: 30px;
    font-size: 50px;
}

#crystals {
    margin: 25px 0;
    
}

#crystalOne {
    height: 200px;
}

#crystalTwo {
    height: 200px;
}

#crystalThree {
    height: 200px;
}

#crystalFour {
    height: 200px;
}

#totalScore {
    font-size: 50px;
}

#wins {
    font-size: 35px;
    color: green;
}

#losses {
    font-size: 35px;
    color: red;
}

@media screen and (max-width: 640px) {

    h1 {
        font-size: 80px;
    }

    #crystalOne {
        height: 100px;
        width: 70px;
    }

    #crystalTwo {
        height: 100px;
        width: 70px;
    }

    #crystalThree {
        height: 100px;
        width: 70px;
    }

    #crystalFour {
        height: 100px;
        width: 70px;
    }

    #targetNumbner {
        margin-top: 30px;
        font-size: 30px;
    }
    
    #totalScore {
        font-size: 20px;
    }

    #wins {
        font-size: 15px;
    }
    
    #losses {
        font-size: 15px;
    }
}