#targetNumbner {
    font-size: 100px;
}


#crystalOne {
    height: 200px;
}

#crystalTwo {
    height: 200px;
}

#crystalThree {
    height: 200px;
}

#crystalFour {
    height: 200px;
}

#totalScore {
    font-size: 50px;
}